@using English.Models
@using Microsoft.AspNet.Identity
@model IEnumerable<English.Models.Course>

@{
    ViewBag.Title = "Browse";
    var name = User.Identity.GetUserName();
    var user = new EnglishContext().GameUsers.FirstOrDefault(u => u.UserName == name);
}

<h2>Browse</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayName("Action")
        </th>
   
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @{
                    if(user!=null && user.Courses.Count(c => c.CourseId == item.CourseId) == 0 && ((item.Paid && user.PremiumPoints>=item.Cost) || !item.Paid))
                    {
                        @Ajax.ActionLink("Join", "Join", new {id = item.CourseId}, new AjaxOptions {OnComplete = "Join(this);"}, new {@class = "btn btn-default", id = "Join" + item.CourseId})
                    }
                    else if (user != null && user.Courses.Count(c => c.CourseId == item.CourseId) == 0 && item.Paid && user.PremiumPoints < item.Cost)
                    {
                        @Ajax.ActionLink("Join", "Join", new { id = item.CourseId }, new AjaxOptions { OnComplete = "Join(this);" }, new { @class = "btn btn-warning disabled", id = "Join" + item.CourseId })
                    }
                    else if (user != null && user.UserWords.Count(u=>u.IsTimeToLearn && u.Course.CourseId==item.CourseId)==0)
                    {
                        
                        @Html.ActionLink("Done", "Index", "Learn", new { id = item.CourseId }, new { @class = "btn btn-success" })
                    }
                    else if (user != null )
                    {

                        @Html.ActionLink("Learn", "Index", "Learn", new { id = item.CourseId }, new { @class = "btn btn-default" })
                    }
}
            </td>
     
        </tr>
    }

</table>
@section Scripts
{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        function Join(e) {
            $(e).removeClass("btn-default");
            $(e).addClass("btn-success");
            $(e).addClass("disabled");
            alert("Joined!");
            location.reload();
        }
    </script>
}