@model English.Models.Course

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <div id="tabs">
        <ul>
            <li><a href="#fragment-1">Main Settings</a></li>
            <li><a href="#fragment-2">Words</a></li>
        </ul>
        <div id="fragment-1">


            <div class="form-horizontal">
                <h4>Main Settings</h4>
                <hr />
                @Html.HiddenFor(model=>model.CourseId)
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.CourseName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CourseName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CourseName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Visible, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Visible)
                            @Html.ValidationMessageFor(model => model.Visible, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.Paid, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Paid)
                            @Html.ValidationMessageFor(model => model.Paid, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


                <div class="form-group" id="CostDiv" style="display:none;">
                    @Html.LabelFor(model => model.Cost, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Cost)
                            @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>




                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Update" class="btn btn-default" />
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })

                    </div>
                </div>
            </div>







        </div>
        <div id="fragment-2">

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-10">
                        <h4>Words in Course</h4>
                        <hr />
                        <input type="button" id="AddWord" value="Add" />
                        @Html.TextBox("Country")
                        <div id="Words">

                        </div>


                    </div>
                </div>
            </div>



        </div>

    </div>







}


@section Scripts
{
    @Styles.Render("~/Content/themes/base/autocomplete.css")
    @Scripts.Render("~/bundles/jqueryval")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"> </script>
    <script src="~/Scripts/jquery-ui-1.11.4.js"> </script>
    <script type="text/javascript">
        var i = 0;

        $(document).ready(function () {



            $("#AddWord").click(function () {
                var newEntry = $("<p>Usage: <input type='text' name='usage" + i + "' value='" + $('#Country').val() + "'/><input type='button' class='remove' value='Remove' id='remove" + i + "'/> </p>");
                $("#Words").append(newEntry);
                newEntry.hide().fadeIn(500);
                i = i + 1;
            });
            $("#Words").on("click", ".remove", function () {
                $(this).parent().fadeOut(250, function () {
                    $(this).remove();
                });

            });








            $("#tabs").tabs({
                show: { effect: "fadeIn", duration: 800 }
            });

            $("#Paid").change(function () {
                var check = $(this).prop('checked');
                if (check) {
                    // $("#CostDiv").css("visibility", "");
                    $("#CostDiv").fadeIn();
                } else {
                    //  $("#CostDiv").css("visibility", "hidden");
                    $("#CostDiv").fadeOut();
                }
            });
            $("#Country").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Courses/AutoCompleteWord",
                        type: "POST",
                        dataType: "json",
                        data: { term: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { value: item.EnglishWord };
                            }))

                        }
                    })
                },
                messages: {
                    noResults: "", results: ""
                }
            });
        })

    </script>
}
